@import url("/home/duduya/.cache/wal/colors-waybar.css");

* {
  font-family: "Roboto Mono Medium", sans-serif;
  font-size: 12px;
}

window {
  background-color: alpha(@background, 0.95);
  border: 2px solid @color4;
  border-radius: 6px;
}

#input {
  margin: 6px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: @color0;
  color: @foreground;
}

#outer-box { padding: 4px; }

#entry {
  padding: 4px 6px;
  border-radius: 4px;
}

#entry #img { margin-right: 8px; }

#text { color: @foreground; }

#entry:selected { background-color: @color4; }
#entry:selected #text { color: @background; }
